@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");
.darkbg, .kv, nav {
  background: #000;
}

body {
  font-family: "Bruno Ace SC", cursive;
}

a {
  text-decoration: none;
}

h2, .aboutwrap .aboutcontent h2, .introwrap .leftinfo h2 {
  font-size: 64px;
  margin-bottom: 36px;
}

.container {
  width: 1296px;
  margin: 0 auto;
  overflow: hidden;
}

.contactBTN {
  background: #FFF;
  width: 185px;
  height: 30px;
  padding: 12px 24px 12px 0px;
  border-radius: 32px;
  font-size: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.contactBTN::after {
  content: "";
  position: absolute;
  background: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c27fbb36c5c2d076b620b44a675273de5878e7d8/2023week2/arrow_outward.svg");
  background-size: cover;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  right: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.contactBTN:hover {
  -webkit-box-shadow: 0 0 15px #00FFA3;
          box-shadow: 0 0 15px #00FFA3;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.contactBTN:hover::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

nav {
  height: 88px;
  padding: 40px 0 0;
}
nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
nav ul li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: #D1D1D1;
}
nav ul li a:hover {
  color: #00FFA3;
}

.kv {
  overflow: hidden;
}
.kv .maininfo {
  color: #FFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.kv .maininfo .selftxt {
  font-size: 64px;
  line-height: 1.6em;
  padding-left: 24px;
}
.kv .maininfo .selftxt h1.name {
  font-size: 128px;
  color: #00FFA3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}
.kv .maininfo .selftxt .moreBtn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.introwrap {
  padding: 120px 0;
  background: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/c27fbb36c5c2d076b620b44a675273de5878e7d8/2023week2/background-img.png");
  background-size: cover;
  background-position: center;
}
.introwrap .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.introwrap .leftinfo {
  width: 40%;
  color: #FFF;
}
.introwrap .leftinfo p {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 32px;
}
.introwrap .leftinfo ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.introwrap .leftinfo ul li {
  padding-right: 24px;
}
.introwrap .rightphoto {
  width: 60%;
}
.introwrap .rightphoto ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.introwrap .rightphoto ul li {
  padding: 10px;
}

.aboutwrap {
  padding: 120px 0;
  overflow: hidden;
}
.aboutwrap .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.aboutwrap .skill {
  width: 60%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.aboutwrap .skill li {
  -webkit-flex-basis: 300px;
      -ms-flex-preferred-size: 300px;
          flex-basis: 300px;
  border: 1px solid #eee;
  margin: 0 30px 30px 0;
  padding: 15px;
}
.aboutwrap .skill li span {
  margin-bottom: 20px;
}
.aboutwrap .skill li h3 {
  margin-bottom: 10px;
  font-size: 20px;
}
.aboutwrap .skill li p {
  line-height: 1.6em;
}
.aboutwrap .aboutcontent {
  width: 40%;
}
.aboutwrap .aboutcontent p {
  font-size: 24px;
  line-height: 36px;
}

.contactwrap {
  padding: 96px 0;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(89%, #01021E), to(#050014));
  background: linear-gradient(180deg, #01021E 89%, #050014 100%);
}
.contactwrap .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.contactwrap h2, .contactwrap .introwrap .leftinfo h2, .introwrap .leftinfo .contactwrap h2, .contactwrap .aboutwrap .aboutcontent h2, .aboutwrap .aboutcontent .contactwrap h2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
}
.contactwrap .socialLink {
  padding-left: 30px;
}
.contactwrap .socialLink ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.contactwrap .socialLink ul li {
  padding: 10px;
}

.projectswrap {
  padding: 120px 0;
}
.projectswrap .container h2 {
  width: 746px;
  margin-left: auto;
}
.projectswrap .container .promap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.projectswrap .container .promap .procontent {
  display: felx;
  padding-left: 30px;
}
.projectswrap .container .promap .procontent .pro01 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.projectswrap .container .promap .procontent .pro01 .caption {
  padding-left: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.projectswrap .container .promap .procontent .pro02 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.projectswrap .container .promap .procontent .pro02 img {
  padding-right: 30px;
}
.projectswrap .container .promap .contactBTN {
  background: #000;
  color: #FFF;
}
.projectswrap .container .promap .contactBTN::after {
  -webkit-filter: brightness(100);
          filter: brightness(100);
}
.projectswrap .container .promap .contactBTN:hover {
  -webkit-box-shadow: 0 0 15px #333;
          box-shadow: 0 0 15px #333;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #FFF;
  color: #000;
}
.projectswrap .container .promap .contactBTN:hover::after {
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

footer.text-center {
  background: #000;
  color: #FFF;
  padding: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}/*# sourceMappingURL=layout.css.map */